#%RAML 1.0
title: Deploying API
version: v1
baseUri: https://dashboard.deploying.cloud
mediaType: application/json

securitySchemes:
  sessionToken:
    type: Basic Authentication
    describedBy:
      headers:
        Authorization: string
      responses:
        401:

securedBy: [ sessionToken ]

types:
  username:
    type: string
    pattern: ^[A-Za-z0-9_-]+$

  email: string

  applicationName: string
  versionTag: string

  account:
    properties:
      username: username
      email: email

  session:
    properties:
      username: username
      token: string

  application:
    properties:
      name: applicationName
      owner: username
      gitRepository: string
      instances: number
      version: version

  applicationNode:
    properties:
      state: string
      versionTag: versionTag
      createdAt: datetime

  applicationExtra:
    type: application
    properties:
      versions: version[]
      nodes: applicationNode[]

  version:
    properties:
      registry: string
      tag: versionTag

  versionProgress:
    properties:
      log: string
      time: datetime
      stream:
        enum: [ stdout, stderr ]

resourceTypes:
  Account:
    get:
      responses:
        200:
          body:
            type: account

  Accounts:
    post:
      securedBy:
      body:
        properties:
          username: username
          password: string
          email: email
      responses:
        201:
          body:
            type: account
        400:
        409:

  Sessions:
    post:
      securedBy:
      body:
        properties:
          username: username
          password: string
      responses:
        201:
          body:
            type: session
        401:

  Application:
    patch:
      body:
        properties:
          gitRepository?: string
          instances?: number
          version?: string
      responses:
        200:
          body:
            type: application
        409:

    delete:
      responses:
        200:

  Applications:
    get:
      responses:
        200:
          body:
            type: applicationExtra[]

    post:
      body:
        properties:
          name: string
          gitRepository?: string
          instances: number
          version?: string
      responses:
        201:
          body:
            type: application
        409:

  Version:
    post:
      body:
        properties:
          gitTag: string
      responses:
        201:
          body:
            type: version

    put:
      body:
        properties:
          tag: versionTag
      responses:
        200:
          body:
            type: version

  VersionProgress:
    get:
      responses:
        200:
          body:
            text/event-stream:
              type: versionProgress

  Versions:
    post:
      body:
        properties:
          gitTag: string
      responses:
        201:
          body:
            type: version

/accounts:
  type: Accounts

/sessions:
  type: Sessions

  /account:
    type: Account

/apps:
  type: Applications

/apps/{name}:
  uriParameters:
    name: applicationName

  type: Application

  /version:
    type: Version

  /versions:
    type: Versions

  /versions/{tag}/progress:
    uriParameters:
      tag: version

    type: VersionProgress
